<h1>ログイン</h1>

<%= form_for(:session, url: login_path) do |f| %>
  <div class ="form-group">
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: "form-control" %>
  </div>
  
  <div class ="form-group">
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: "form-control" %>
  </div>
  <div>
  <%= f.submit "ログイン", class: "btn btn-primary" %>
  </div>
  
  <p>登録がまだの方はこちら<%= link_to "新規登録", new_user_path %></p>
 <% end %>